/*Ces classes de debug on vocation à etre utilisées qu'en dévelopment*/
.b1 {
  background-color: #232128;
  border: 1px solid #232128;
}

.b2 {
  background-color: green;
  border: 1px solid green;
}

.b3 {
  background-color: #a4747f;
  border: 1px solid #a4747f;
}

.b4 {
  background-color: purple;
  border: 1px solid purple;
}
